<div class="container text-center">
  <% if @tag.present? %>
    <h2 style="background-color: rgb(214, 246, 109)">Looks <%= @tag.first.category  %> <%= @tag.first.content  %></h2>
  <% else %>
    <h2 style="background-color: rgb(214, 246, 109)">Todos LOOKS</h2>
  <% end %>


  <div class="container-card row">
    <% @apparels.each do |apparel| %>
      <div class="card-look col-12 col-md-4 align-items-center p-2 mb-3 d-flex justify-content-between">
        <div class="card-photo align-items-center">
            <%= cl_image_tag apparel.photo.key, class: "card-img-top" if apparel.photo.attached? %>
       </div>
        <div class="tags">
          <% apparel.categories.each do |category| %>
            <div class="tag">
              <span class="tag-btn"><%= link_to category.tag.content, apparels_path(tag_id: category.tag.id)%></span>
            </div>
          <% end %>
        </div>
        <div class="btns-admin d-flex">
        <% if current_user && current_user.admin %>
          <p class="edit m-2"><%= link_to 'Edit', edit_apparel_path(apparel) %></p>
          <p class="delete m-2"><%= link_to 'Delete', apparel_path(apparel), method: :delete, data: { confirm: 'Are you sure?' }%></p>
        <% end %>
        </div>

      </div>


    <% end %>






  </div>

</div>
